{% extends 'base.html' %}
{% block title %}
Passez votre commande
{% endblock %}
{% block main %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(/static/img/create.png);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Passez votre commande</h4>
                                    </div>
                                    <form class="user" method="post">
                                        <div class="mb-3">{% include 'form.html' %}</div>
                                        <div class="mb-3">
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit">PROCEED</button>
                                        <hr>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <style>
            #id_price {
            font-size: .8rem;
            border-radius: 10rem;
            padding: 0.75rem 1rem;
            }
            #id_payment {
            font-size: .8rem;
            border-radius: 10rem;
            padding: 0.75rem 1rem;
            }
            #id_scripts{
                font-size: .8rem;
                border-radius: 10rem;
                padding: 0.75rem 1rem;
            }
           #id_video{
                        font-size: .8rem;
                        border-radius: 10rem;
                        padding: 0.75rem 1rem;
                    }

            .textInput{
                font-size: .8rem;
                border-radius: 10rem;
                padding: 0.75rem 1rem;
            }


    </style>
{% endblock %}