{% extends 'base.html' %}
{% block title %}
Catalogue
{% endblock %}
{% block main %}
    <br>
    <br>
<div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
{% for fut in futs %}
 <div class="col">
        <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{{ fut.images.url }}" />
            <div class="card-body p-4">
                <p class="text-primary card-text mb-0">{{ fut.title }}</p>
                <h4 class="card-title">{{ fut.plans_choices.index}}</h4>
                <p class="card-text"> uploaded on {{ fut.created_at|date:'d' }} {{ fut.created_at|date:'M' }} {{ fut.created_at|date:'Y' }}</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold mb-0">{{ fut.user }}</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endfor %}
</div>

{% endblock %}