{% extends 'base.html' %}
{% block title %}
ForFait
{% endblock %}
{% block main %}
<div class="pricing1 py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mt-3 font-weight-medium mb-1">MISEZ GROS AVEC FUTMAX, VOUS SEREZ SATISFAIT DE NOS SERVICES</h3>
        <h6 class="subtitle">100% Satisfaction Garantie</h6>
        <div class="switcher-box mt-4 d-flex align-items-center justify-content-center">
          <span class="font-14 font-weight-medium">PAR MOIS</span>
          <div class="onoffswitch position-relative mx-2">
            <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox d-none" id="myonoffswitch1">
            <label class="onoffswitch-label d-block overflow-hidden" for="myonoffswitch1">
							<span class="onoffswitch-inner d-block"></span>
							<span class="onoffswitch-switch d-block bg-white position-absolute"></span>
						</label>
          </div>
          <span class="font-14 font-weight-medium">ANNUEL</span>
        </div>
      </div>
    </div>
    <!-- Row  -->
    <div class="row mt-5">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">BASIC</h5>
            <h6 class="subtitle font-weight-normal">POUR DEBUTEZ</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">28</span>
              <span class="yearly display-5">240</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$20</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Parfait pour voir ce que futmax offre en terme de service</li>
              <li class="d-block py-2">sauvegarde en illimitee sur futmax et futmax cloud</li>
              <li class="d-block py-2">Pas de classificateur automatique pour vos sauvegardes</li>
              <li class="d-block py-2">&nbsp;</li>
              <li class="d-block py-2">&nbsp;</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="{% url 'create' %}"><span>Choisissez votre forfait</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <span class="badge badge-inverse p-2 position-absolute price-badge font-weight-normal">Popular</span>
            <h5 class="mt-3 mb-1 font-weight-medium">Intermediaire</h5>
            <h6 class="subtitle font-weight-normal">Sauvegarde En enfuissant vos donnes dans une capsules temporelles</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">39</span>
              <span class="yearly display-5">400</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$30</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Parfait pour sauvegarder pour toute la famille</li>
              <li class="d-block py-2">stockage illimite</li>
              <li class="d-block py-2">service apres vente</li>
              <li class="d-block py-2">discount  10%</li>
              <li class="d-block py-2">&nbsp;</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-danger-gradiant btn-md text-white btn-block" href="{% url 'create' %}"><span>Choisissez votre forfait</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">POUR LES STARTUP</h5>
            <h6 class="subtitle font-weight-normal">sauvegarde de qualite, protege vos donnes</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">58</span>
              <span class="yearly display-5">600</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">stockage illimite</li>
              <li class="d-block py-2">intelligence artificiel pour gerez vos donnez</li>
              <li class="d-block py-2">service apres vente</li>
              <li class="d-block py-2">connexion en continue avec notre fibre dedier </li>
              <li class="d-block py-2">Time Tracking</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="{% url 'create' %}"><span>Choisissez votre forfait</span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">SUPREME</h5>
            <h6 class="subtitle font-weight-normal">Meilleur pour les personnes qui a beaucoup de donnees a sauvegader</h6>
            <div class="pricing my-3">
              <sup>$</sup>
              <span class="monthly display-5">99</span>
              <span class="yearly display-5">1000</span>
              <small class="monthly">/mo</small>
              <small class="yearly">/yr</small>
              <span class="d-block">Save <span class="font-weight-medium">$80</span> a Year</span>
            </div>
            <ul class="list-inline">
              <li class="d-block py-2">Pour les entreprises</li>
              <li class="d-block py-2">stockage illimite</li>
              <li class="d-block py-2">les donnez sont stocker sur notre satelite</li>
              <li class="d-block py-2">partagez les donnee sur plusieur cloud service de futmax</li>
              <li class="d-block py-2">Time Tracking</li>
            </ul>
            <div class="bottom-btn">
              <a class="btn btn-success-gradiant btn-md text-white btn-block" href="{% url 'create' %}"><span>Choisissez votre forfait</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}