{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block main %}
<div>
  <div>
    <div id="box-2"><img id="logoimage1" src="/static/img/paralax/1652533547401.png" />
        <h1 id="heading1">Votre Commande a ete Approuvez</h1>
        <p>Notre equipe vas procedez a la sauvegarde de vos donnez selon le forfait que vous avez choisis</p>
        <a href="#"><button id="button1" class="btn btn-primary" type="button"><img style="width: 20px;height: 20px;transform: rotate(270deg) translateX(2px);" src="/static/img/paralax/arrowwhite.gif" /><span><strong>Visitez votre Catalogue</strong></span><img style="width: 20px;height: 20px;transform: rotate(90deg) translateX(-2px);" src="/static/img/paralax/arrowwhite.gif" /></button></a>
    </div>
</div>
{% endblock %}