{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstraqp.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
<link rel="stylesheet" href="{% static 'css/aos.css' %}">
<link rel="stylesheet" href="{% static 'css/paralax.css' %}">
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">